
{% load static %}
{% comment %}
{% extends 'posts/layout.html' %}
{% endcomment %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    {% comment %}
    <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    que sale de urls.py path('<int:question_id>/', views.detail, name='detail'),
    <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>
    {% endcomment %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock %}
