<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width", initial-scale=1.0>
    <!--le pusimos espacio 1.3 entre los párrafos-->
  <meta http-equiv="X-UA-COmpatible" content="ie=edge">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <title>Blog de Acentoteca</title>
</head>
<body>
  <header class="countainer center-align">
    <h1> Acentoteca Blog</h1>
  </header>
  <div class="cointainer">
  {% block content %}
  {% endblock %}
  <br>
  <a style="display:block" class="center-align" href="/admin">Admin Login</a>
  </div>
</body>
</html>
