{% extends 'blog/base.html' %}

{% block content %}
  {% for post in posts %}
      <div class="post">
          <div class="date">
              <p>published: {{ post.published_date }}</p>
          </div>
          {% comment %}
            en href para crear urls automaticos a cada post.
            pk=post.pk? pk is short for primary key, unique name for each record in db
            las pk no las creamos en post pero sql las hace solas: 1,2,3...
          {% endcomment %}

          <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
          <p>{{ post.text|linebreaksbr }}</p>
      </div>
  {% endfor %}
{% endblock %}
