{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        {% comment %}


        {% for post in posts %}
            <div class="post">
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
                {% endcomment %}

                <div class="content container">
              <div class="row">
                  <div class="col-md-8">
                      {% for post in posts %}
                          <div class="post">
                              <div class="date">
                                  <p>published: {{ post.published_date }}</p>
                              </div>
                              <h1><a href="">{{ post.title }}</a></h1>
                              <p>{{ post.text|linebreaksbr }}</p>
                          </div>
                      {% endfor %}
                  </div>
              </div>
          </div>

    </body>
</html>
