{% extends 'blog/base_az.html' %}

{% block content %}
<div class="container">
    <h1>New comment</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
</div>
{% endblock %}
