{% load staticfiles %}

<html>
    <head>
      <meta charset="UTF-8">
      <!-- If IE use the latest rendering engine -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- Set the page to the width of the device and set the zoon level -->
      <meta name="viewport" content="width = device-width, initial-scale = 1">
      <title>Blog Inaz</title>
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'css/blog_az.css' %}">

    </head>
    <body>


      <!-- Collapsible Navigation Bar -->
      <div class="container">

      <!-- .navbar-fixed-top, or .navbar-fixed-bottom can be added to keep the nav bar fixed on the screen -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">

            <!-- Button that toggles the navbar on and off on small screens -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

            <!-- Hides information from screen readers -->
              <span class="sr-only"></span>

              <!-- Draws 3 bars in navbar button when in small mode -->
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- You'll have to add padding in your image on the top and right of a few pixels (CSS Styling will break the navbar) -->
            <a class="pull-right" href="#"><img src="{% static 'blog/images/Tatuaje1.png' %}" height="45" width="45"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
              <li><a href="/admin/">Admin</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact Us <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Email</a></li>
                  <li><a href="#">Phone</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Set Appointment</a></li>
                </ul>
              </li>
            </ul>
            <!-- navbar-left will move the search to the left -->
            <form class="navbar-form navbar-right" role="search" action="/search/" method="get">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="q">
              </div>
              <button type="submit" class="btn btn-default" value="search">Submit</button>
            </form>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      </div>
      <br>


          {% block content %}
          {% endblock %}


            </p>
        </div>
    </body>
</html>
