{% extends 'blog/base_az.html' %}

{% block content %}

  <!-- CONTAINERS este mete una sangría a TODO -->
  <div class="container">
    <!-- class header le mete una raya y padding. -->
    <div class="page-header">
        <h1><a href="/">Blog Inaz</a></h1>
    </div>

        {% for post in posts %}
          <div class="col-md-5">
              <p>publicado: {{ post.published_date }}</p>
              <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a> </h3>
              <p>{{ post.text|linebreaksbr }}</p>
              <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
              <div class="">

                <p>
                {% for tag in post.tags.all %}
                <a href="{% url 'search' %}?q={{tag}}">{{tag}}</a>

                {% empty %}

                {% endfor %}
                </p>
              </div>
          </div>

        {% endfor %}
        <div class="col col-md-2">
          <br>

          <p>En esta sección puedes ver si aprendiste los números en Tseltal. Escribe tu número y ve cómo se escribe en esta lengua maya. </p>

          <p>

            <form class="navbar-form" role="NumeroTseltal" action="/tseltal_number/" method="get">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Número" name="q">
              </div>
              <div class="">
              <button type="submit" class="btn btn-default" value="tseltal_number">Traduce Número</button>
              </div>

            </form>

        </div>
  </div>

{% endblock %}
