{% extends 'blog/base_az.html' %}

{% block content %}

<div class="container">


    <div class="">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>

    </div>
        <hr>
    <div class="">
      <h4>Tags:</h4>
      <p>
      {% for tag in tags %}
        <a href="{% url 'search' %}?q={{tag}}">{{tag}}</a>
      {% endfor %}
      </p>
    </div>
    <br>


      <h4>Comments:</h4>
      <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
      {% for comment in comments %}
          <div class="comment">
              <div class="date">{{ comment.created_date }}</div>
              <strong>{{ comment.author }}</strong>
              <p>{{ comment.text|linebreaks }}</p>
          </div>
      {% empty %}
          <p>No comments here yet :(</p>
      {% endfor %}
    <br>

    <!-- You can group buttons. You can size the buttons with btn-group-lg, btn-group-sm, or btn-group-xs -->
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Post Previo</button>
      <button type="button" class="btn btn-default">--</button>
      <button type="button" class="btn btn-default">Siguiente Post</button>
    </div>
</div>

{% endblock %}
