{% extends 'blog/base_az.html' %}

{% block content %}

<div class="container">

        {% if errors %}
            <ul>
                {% for error in errors %}
                <strong>{{ error }} </strong>
                {% endfor %}
            </ul>
        {% endif %}

        {% if posts %}
            <p>You searched for: <strong>{{ query }}</strong></p>
            <p>Found {{ posts|length }} post{{ posts|pluralize }}.</p>
            <ul>
                {% for post in posts %}
                <li>
                  <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a> </h3>
                  <p>{{ post.text|truncatewords:"15" }}</p>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No Posts matched your search criteria.</p>
        {% endif %}

</div>

{% endblock %}
