{% extends 'blog/base_az.html' %}

{% block content %}




<div class="container">

  {% if error %}
    <p style="color: red;">
        Please write a valid number.
    </p>
  {% else %}
  <div class="post">
      <h3>The number {{number}} in Tseltal is: {{ number_tseltal }}</h1>

  </div>
  {% endif %}

  <div>
    <br>
    <br>
    <p>Want to try another number?</p>
    <form class="navbar-form" role="NumeroTseltal" action="/tseltal_number/" method="get">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Número" name="q">
      </div>

      <div class="">
      <button type="submit" class="btn btn-default" value="tseltal_number">Traduce Número</button>
      </div>

    </form>
  </div>
</div>

{% endblock %}
